name: npm test
on: 
  workflow_dispatch:
               
jobs:
  job1:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - name: Install npm
      - run: npm install
  job2:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
      - uses: actions/checkout@v5
      - needs: job1
      - name: Install npm
      - run: npm install

      