name: Switch Node version
on: 
  pull_request:
env:
  NODE_VERSION: 22
jobs:
  run-npm-test:
    runs-on: ubuntu-latest
    steps:
        - name: checkout
          uses: actions/checkout@v5
        - name : setup node
          uses: actions/setup-node@v6
          with:
            node-version: ${{ env.NODE_VERSION }}
        - name: run test
          shell: bash
          run: |
            node -v
            npm install
            npm test